<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
<script type="text/javascript">
    window.onload = function() {
        var n1 = 0;
        var n2 = 100;
        var h1 = setInterval(function(){ 
            if(n1 < 100){ 
                n1+=10; 
                document.getElementById("hideAll").style.opacity = n1/100.;
            }else{ 
                clearTimeout(h1); 
            } 
        },50);
        var h2 = setInterval(function(){
            if(n2 > 0){
                n2-=10;
                document.getElementById("tempDiv").style.opacity = n2/100.;
            }else{
                clearTimeout(h2);
                document.getElementById("tempDiv").style.display = "none";
            }
        },50);
     }
</script>
<div id="hideAll" style="position: static;
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    background-color: white;
    z-index: 99;
    opacity: 0;">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

</div>
<div id="tempDiv" style="position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
    <embed src="/Aleph0.svg" style="width:100%;"
        type="image/svg+xml"
        pluginspage="http://www.adobe.com/svg/viewer/install/" />
</div>

  </body>

</html>
