<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
<script type="text/javascript">
     window.onload = function() {
       document.getElementById("hideAll").style.display = "block";
       document.getElementById("tempDiv").style.display = "none";
     }
</script>
<div id="tempDiv">
  Hello World
</div>
<div id="hideAll" style="position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99;
   display: none;">
  
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

</div>

  </body>

</html>
